body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2691d9;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 28rem;
    height: 28rem;
    background: white;
    color: black;
    align-items: center;
}

.container form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p:first-child{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2691d9;
}

.p {
    font-size: large;
}

.password {
    display: flex;
    flex-direction: column;
    height: 5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.password label {
    font-size: medium;
}

.password input {
    height: 2.5rem;
    width: 20rem;
    border: 1.5px solid black;
    border-radius: 6px;
    font-size: medium;
}

#submit {
    width:10rem;
    font-size: medium;
    font-weight: 600;
    height: 3rem;
    color: white;
    background:#2691d9;
    border-radius: 8px;
    border: 1px solid #2691d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.container1{
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_msg {
    position: absolute;
    color: red;
    font-size: medium;
    margin-top: 3rem;
}


